h3{
    background-color: black;
    color: white;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: auto;
    padding: 5px;
}
html{
    background-color: rgba(218, 155, 238, 0.253);
    background-image: url(../img/arkaplan6.jpg);
}
p{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    padding: 5px;
}
h1.baslik{
    background-color: rgb(95, 92, 92, 0.418);
    color: white;
    text-align: start;
    padding: auto;
    margin: auto;
    height: 110px;
    width: auto;
    border: 0px solid rgb(180, 165, 32);
}
span.baslik{
    display: block;
    margin-left: 45%;
    margin-right: 45%;
    width: auto;
}